[core]
	excludesfile = /Users/liu/.gitignore_global
[difftool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\"
	path = -ro
[mergetool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[user]
	name = tnkliu
	email = tnkliu@gmail.com
[commit]
	template = /Users/liu/.stCommitMsg
[diff]
	tool = bc4
[difftool "bc4"]
	cmd = /usr/local/bin/bcomp $LOCAL $REMOTE
[difftool]
	prompt = false
[merge]
	tool = bc4
[mergetool "bc4"]
	cmd = /usr/local/bin/bcomp $LOCAL $REMOTE $BASE $MERGED
[mergetool]
	trustExitCode = true
	keepBackup = false
