[core]
	excludesfile = /Users/liu/.gitignore_global
[difftool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\"
	path = -ro
[mergetool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[user]
	name = tnkliu
	email = tnkliu@gmail.com
[commit]
	template = /Users/liu/.stCommitMsg
[difftool "bc4"]
	cmd = /usr/local/bin/bcomp $LOCAL $REMOTE
	#cmd = bcompare --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = bc4
[mergetool "bc4"]
	#cmd = /usr/local/bin/bcomp $LOCAL $REMOTE $BASE $MERGED
	cmd = bcomp --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
	keepBackup = false
[mergetool]
	prompt = false
[merge]
	tool = bc4